

body {
font-family: Arial, Helvetica, sans-serif;
background-color: lightblue;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square;
}

.direction-list {
  list-style: disc;
}

header > img {
  width: 100px;
}

ol {
  list-style: upper-roman inside;
}